@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../photos/starwarsbackG.jpg');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    animation: slideInBackground 3s ease-in-out forwards;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#preloader.hide-preloader {
    opacity: 0;
    visibility: hidden;
}

.preloader-content {
    text-align: center;
}

.logo-animation {
    font-size: 3em;
    color: #e0cdc0;
    font-family: 'Patua One', sans-serif;
    opacity: 0;
    animation: fadeInLogo 1s forwards;
}

.tagline {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.word {
    font-size: 1.5em;
    color: #e0cdc0;
    opacity: 0;
    margin: 0 5px;
}

.word:nth-child(1) {
    animation: fadeInWord 1s forwards 1s;
}

.word:nth-child(2) {
    animation: fadeInWord 1s forwards 2s;
}

.word:nth-child(3) {
    animation: fadeInWord 1s forwards 3s;
}

@keyframes fadeInLogo {
    to {
        opacity: 1;
    }
}

@keyframes fadeInWord {
    to {
        opacity: 1;
    }
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1); 
    animation: fadeOutDarkness 2s ease-in-out forwards; 
    z-index: 1;
}

@keyframes slideInBackground {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center center;
    }
}

@keyframes fadeOutDarkness {
    0% {
        background: rgba(0, 0, 0, 1);
    }
    100% {
        background: rgba(0, 0, 0, 0); 
    }
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    display: flex;
    align-items: center;
}

.main-letter {
    font-family: 'Patua One', sans-serif;
    font-size: 1.4em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: color .5s;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease;
}

.navigation a:hover::after {
    transform-origin: right;
    transform: scaleX(1); 
}

.navigation a:hover {
    color: #fff;
}

.navigation .loginbutton-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
    transition: .5s;
}

.navigation .loginbutton-popup:hover {
    background: #fff;
    color: #162938;
}


.wrapper {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: translate(-50%, -50%) scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162931;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2.2em;
    color: #e0cdc0;
    text-align: center;
    font-family: 'Patua One', sans-serif;
}

/* Input styles */
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #e0cdc0;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label,
.input-box label.active {
    top: -6px; 
    font-size: 0.8em; 
    color: #e0cdc0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #e0cdc0;
    font-size: 1em;
    padding: 0 5px;
    line-height: 1.2em;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162038;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -20px;
}

.error-list {
    color: red;
    font-size: 0.9em;
    list-style-type: none;
}

.remember-forgot {
    font-size: .9em;
    color: #162038;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162038;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162038;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.loginbutton {
    width: 100%;
    height: 45px;
    background: #e0cdc0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162038;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162038;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162038;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

footer {
    background-color: transparent;
    margin-top: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: auto;
    width: 100%;
}

