@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('photos/rocky3.jpg');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    animation: slideInBackground 2s ease-in-out forwards;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1); 
    animation: fadeOutDarkness 2s ease-in-out forwards; 
    z-index: 1;
}

@keyframes slideInBackground {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center center;
    }
}

@keyframes fadeOutDarkness {
    0% {
        background: rgba(0, 0, 0, 1);
    }
    100% {
        background: rgba(0, 0, 0, 0); 
    }
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    display: flex;
    align-items: center;
}


.main-letter {
    font-family: 'Patua One', sans-serif;
    font-size: 1.4em;
    color: #fff;
    user-select: none;
}


@keyframes moveLetters {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes moveOffScreen {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-150%);
    opacity: 0; 
  }
}

.logo .mi {
  animation: moveOffScreen 0.9s ease-in forwards;
}

.logo .second-half {
  animation: moveLetters 0.7s 0.7s ease-in-out forwards; 
  opacity: 0;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: color .5s;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease;
}

.navigation a:hover::after {
    transform-origin: right;
    transform: scaleX(1); 
}

.navigation a:hover {
    color: #fff;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}
